.input{
    display: block;
    width: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
    border: 1px solid;
}
.large{
    height: 4rem;
    font-size: larger;
}
.small{
    height: 1rem;
    font-size: small;
}
.med{
    height: 2rem;
    font-size: medium;
}